
  <appSettings>
    <add key="Server" value="SAPServer"/>
    <add key="DBUser" value="DBUser"/>
    <add key="DBPassword" value="DBPassword"/>
    <add key="DevDatabase" value="DevDatabase"/>
    <add key="License" value="SAPLicense"/>
    <add key="SLD" value="SLD"/>
    <add key="SapUser" value="SapUser"/>
    <add key="SapUserPassword" value="SapUserPassword"/>
  </appSettings>


